.categories {
    display: flex;
    width: 100%;
    margin: 0 auto 30px auto;


    .wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;


        .container {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
            max-width: 220px;
            min-width: 200px;
            min-height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            cursor: pointer;

            img {
                width: 55px;
                height: 55px;
            }

            p {
                margin-right: 20px;
            }

        }

        .active {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 7px rgba(59, 112, 21, 0.5);
            max-width: 220px;
            min-width: 200px;
            min-height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            cursor: pointer;

            img {
                width: 55px;
                height: 55px;
            }

            p {
                margin-right: 20px;
            }

        }
    }
}

@media (max-width: 1100px) {
    .categories {
        margin-bottom: 15px;

        .wrapper {
            column-gap: 10px;
            overflow: scroll;
            padding: 5px;

            &::-webkit-scrollbar {
                width: 0;
            }


        }

    }
}