.wrapper {
  width: 90%;
  margin: 0 auto;

  .container {
    max-width: 1180px;
    margin: 90px auto;
    padding: 0 10px;

    .cart {

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .back {
          display: flex;
          align-items: center;

          img {
            margin-right: 5px;
            width: 30px;
          }
        }

        .clear {
          display: flex;
          align-items: center;
          cursor: pointer;

          img {
            width: 20px;
          }

          p {
            margin-left: 10px;
          }
        }
      }


    }

    .bottom {
      margin: 50px 0;

      .details {
        display: flex;
        justify-content: space-between;

      }

      .payWrap {
        display: flex;
        width: 100%;
        justify-content: right;

        .pay {
          display: flex;
          justify-content: center;
          margin-top: 40px;
          font-size: 16px;
          font-weight: 700;
          border: 1px solid black;
          padding: 10px;
        }
      }
    }
  }
}


