.skeleton {
   position: relative;
   height: 326px;
 }
 .skeleton:after {
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background-repeat: no-repeat;
   background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100% ), 
       linear-gradient(#e3e3e3 170px, transparent 0), 
       linear-gradient(#e3e3e3 15px, transparent 0), 
       linear-gradient(#e3e3e3 15px, transparent 0), 
       linear-gradient(#e3e3e3 40px, transparent 0), 
     linear-gradient(#ffffff 100%, transparent 0);
   background-size: 130px 100%, 215px 170px, 215px 15px, 90px 15px, 185px 40px, 100% 100%;
   background-position: 0 0 , 22px 13px, 22px 203px, 88px 234px, 39px 268px, 0 0;
   animation: skeleton-animation 1600ms infinite;
 }
 
 @keyframes skeleton-animation {
   to {
     background-position: 100% 0, 22px 13px, 22px 203px, 88px 234px, 39px 268px, 0 0;
   }
 }
 